FORMAT: 1A
HOST: https://api.homecredit.cz

# HC OneClick API - Installments - FUTURE
API documentation for Home Credit One-Click API (next release preview).

> Version of documentation: `1.26.1`

| Version | Release | Release date | News                                                                                                                                                                |
| ---     | ---     | ---          | ---                                                                                                                                                                 |
| 1.26.1  | CS85    | 6.10.2021    | New `flags` attribute in [calculations resources](#reference/installments-calculator-resources/installment-programs-offers) marking products with delayed first installment.|

In case of any question, please contact our integration department (integrace_eshop@homecredit.cz).

> **IMPORTANT NOTE:** Resource calls made from **Slovakia** MUST use appropriate dedicated `.sk` endpoints. E.g. `https://api.homecredit.sk/financning/v1/applications`

## Getting started
This online document describes Home Credit (HC) One-Click API - the means for partner e-shops through which they can offer their customers the benefits of one of Home Credit's payment methods.

The aim of here described services is to allow customers the smooth running through the process of an online purchase. The services that allow achieving this goal are divided into the following groups:

| Group of services                  | Purpose                                                                                                                                                                                            |
| ---                                | ---                                                                                                                                                                                                |
| Security                           | Security rules and principles                                                                                                                                                                      |
| Application resources              | Resources that allows processing of *application* and *order* during their whole life cycle                                                                                                        |
| Installments calculator resources  | Resources that allow partner e-shops to implement an installment calculator on their websites                                                                                                      |
| Merchantsite resources             | Resources that should be developed and exposed by partner e-shops to allow HC asynchronously inform these partner e-shops about important changes regarding particular *applications* and *orders* |
| Health check                       | Health check usage description                                                                                                                                                                     |

### Basic implementation
Basic and minimum way how to implement HCO API is to at least implement:
1. [Login](#reference/security/login-partner)
    - You must be authorized to be able to access to the most resources
1. [Create application](#reference/application-resources/create-application)
    - When you collect necessary data of a customer and his/her order, call this resource to start the loan approval process by creating an `application`. `Application` itself and its ID are essential for a successful process completion.
1. Redirect handlers.
    - Special URLs for customers that shows payment success or rejection (more info [here](#introduction/getting-started/parameters-added-to-your-return-urls)).
1. [Application notification](#reference/merchantsite-resources/application-notification)
    - This endpoint has to be exposed on your side to allow HC back-end to asynchronously notify you about the important changes regarding particular applications and orders.
1. [Mark order items as sent](#reference/application-resources/mark-order-items-as-sent) or [Mark order items as delivered](#reference/application-resources/mark-order-items-as-delivered) (use the one that suits your expedition and invoicing process, `Mark order items as delivered` is preferred)
    - HC does not start the process of financial compensation unless the order is marked as `SENT` / `DELIVERED`.

[![Sequence diagram of minimum implementation](https://github.com/mdostal-hci/oneclick-images/raw/master/SequenceDiagramInstallmentMinimum.png)](https://github.com/mdostal-hci/oneclick-images/raw/master/SequenceDiagramInstallmentMinimum.png)

[![State diagram of Application](https://github.com/mdostal-hci/oneclick-images/raw/master/StateDiagramApplication.png)](https://github.com/mdostal-hci/oneclick-images/raw/master/StateDiagramApplication.png)

It is necessary to fill in all attributes marked as required in the request but filling optional parameters will result in better application approval rate. You should always consider to fill as many attributes as possible. Contact the sales support to find out which attributes correlate with approval rate the most.

### Parameters added to your return URLs
- During redirection of the customer from Home Credit's front-end back to e-shop (to one of the provided URLs - `approvedRedirectUrl`, `rejectedRedirectUrl`) there are some potentially useful information about a customer's outcome in Home Credit's front-end added:
- `orderNumber` (string) - E-shop's internal order number provided within API call of [Create application](#reference/application-resources/create-application)
- `withdrawal` (boolean) – True when the customer's purchase is financed directly from his already existing revolving loan; false when a new contract is being created
- `downPayment` (number) – Value of down payment, usually set to 0
- `stateReason` (enum) – Application substate
- `applicationId` (string) - HCO application identifier
- `checkSum` (string) – hashed message

- e.g. `http://youreshop.cz?orderNumber=0606104036&stateReason=PROCESSING_SIGNED&downPayment=100000&checkSum=443E150D3406F6A8DC62C1DB224AFDD84FA9907071BB1AD9B2C7701031793662191501B26AADF3A31361341EA176C80B23D8A9A5E5B5219538289945FE0C20A7&applicationId=01-11b00a1ef1&withdrawal=false`

## Documentation principles
- attributes in request/response object are optional, unless stated otherwise (`required` flag under attribute name)
- required attribute in optional object means, that if optional object is specified, it must contain required attribute.
- all values in request/response attributes are just examples, except for enum values - these are the only possible values for given attribute.
- documentation adheres to [semantic versioning](https://semver.org/spec/v2.0.0.html), which makes a distinction between *major*, *minor*, and *patch* versions.

### Naming conventions
- we use camelCase for all object and attribute names
- we use CAPITAL_UNDERSCORE for enum values
- we use plural in resource names

## Home Credit REST API principles

### Request restrictions
Please, keep in mind following restrictions regarding requests:
- Maximum request size is **10 MB**.
- Maximum size of accepted single file is **500 kB**.
- Here is the list of supported files:

| MIME type                                                                 | Example(s)                 |
| ---                                                                       | ---                        |
| application/pdf                                                           | *.pdf                      |
| application/vnd.openxmlformats-officedocument.spreadsheetml.sheet         | *.xlsx                     |
| application/vnd.openxmlformats-officedocument.wordprocessingml.document   | *.docx                     |
| application/vnd.openxmlformats-officedocument.presentationml.presentation | *.pptx                     |
| application/vnd.ms-excel                                                  | *.xls, *.xlt, *.xla        |
| application/msword                                                        | *.doc, *.dot               |
| application/vnd.ms-powerpoint                                             | *.ppt, *.pot, *.pps, *.ppa |
| plain/text                                                                | *.csv, *.txt               |
| image/jpeg                                                                | *.jpg, *.jpeg              |
| image/png                                                                 | *.png                      |
| image/gif                                                                 | *.gif                      |

### API calls limits
When partner reaches API calls limit (calls the API more times than is his quota), HTTP error 429 is returned. To inform about limits we use following response headers:
- `X-Rate-Limit-Limit` - The number of allowed requests in the current period
- `X-Rate-Limit-Remaining` - The number of remaining requests in the current period
- `X-Rate-Limit-Reset` - The number of seconds left in the current period

### Versioning
We use API version in URL (e.g. `https://api.homecredit.cz/customer/v1/my/profile`). *Minor* changes and *patches* (see below) that don't break backwards compatibility do NOT increase API version, e.g. they MAY happen without prior notice and your application should be ready to handle them.

*Minor* changes include:
- adding new resource
- adding new optional header/URL parameter or optional body attribute to request
- adding new attribute to response body
- adding new error codes and messages, provided that error structure is the same

### Response encoding
Unless stated otherwise, all responses are sent as `Content-Type: application/json; charset=utf-8`

### HTTP status codes
We use following status codes throughout the API, except for OAuth flow when response codes are prescribed in RFC
- 200 `OK` - request was successful
- 201 `Created` - request was successful and resource was created
- 202 `Accepted` - request has been accepted for processing, but the processing has not been completed
- 204 `No Content` - we accepted partner's request but there is nothing to return (e.g. response is empty)
- 400 `Bad Request` - syntax error, e.g. request is missing required parameters/attributes or parameter values are of incorrect type
- 401 `Unauthorized` - partner is not authorized
- 403 `Forbidden` - access denied (e.g. user / application is not allowed to use the resource)
- 404 `Not Found` - resource could not be found
- 405 `Method Not Allowed` - specified method is not allowed for resource
- 422 `Unprocessable Entity` -  business (semantic) errors. Request is well-formed, but cannot be processed (e.g. payment due date is in past). Errors are specified in response body (see below)
- 429 `Too Many Requests` - partner exceeded the rate limit (see section [API calls limit](#introduction/api-calls-limits) above)
- 500 `Internal Server Error` - something went wrong on our side
- 503 `Service Unavailable` - there is planned service outage

### Error handling
Besides HTTP status codes, which are the main indication if something goes wrong, we also use `errors` object to report more details about errors.

Errors object example:
```javascript
{
    ...

    errors: [
        {
            "code": "ERR_100",
            "message": "Invalid contract number",
            "severity": "ERROR",
            "attribute": "partyAccount.accountNumber",          // optional
            "ticketId": "UAT1:AMS:20160516-091658.450:45e4" // optional
        },
        {
            "code": 352,
            "message": "Insufficiend funds for payment order realization",
            "severity": "WARN"
        },
        {
            "code": 523,
            "message": "This order will trigger currency exchange operation",
            "severity": "INFO"
        }
    ]
}
```

Error object attributes
| Attribute name | Description                                                     |
| ---            | ---                                                             |
| code           | unique error code                                               |
| message        | human readable error description (non-localized)                |
| severity       | error severity (see below)                   |
| attribute      | json path of request attribute that caused the error (optional) |
| ticketId       | internal ticket ID, used for error backtracking                 |

There are 3 levels of error severity:
- `ERROR` - critical error, execution cannot continue. This MUST be indicated also by appropriate HTTP status code (e.g. `422 Unprocessable Entity`)
- `WARN` - non-critical error, execution can continue but further user interaction is advisable (for request to proceed, partner MUST specify this error code in `override` request attribute). This MIGHT be indicated also by appropriate HTTP status code.
- `INFO` - information only, execution can continue without user interaction.

#### Errors overview
| Status code | Code                  | Explanation                                                                     | Message                                                                                                        |
| ---         | ---                   | ---                                                                             | ---                                                                                                            |
| 400         | INVALID_REQUEST       | Request was not well formatted (malformed request syntax, size too large, etc.) | (*Various messages possible*) e.g. Unsupported combination of application state and order state                  |
| 404         | OBJECT_NOT_FOUND      | The requested resource could not be found                                       | (*Various messages possible*) e.g. Specified object was not found                                              |
| 422         | NOT_ALLOWED           | Operation is not allowed (internal reason)                                      | (*Various messages possible*) e.g. Not allowed (other reason)                                                    |
| 500         | INTERNAL_SERVER_ERROR | Unexpected condition was encountered and no more specific message is suitable   | (*Various messages possible*) e.g. Failed to parse given JSON                                                  |

### Formats
- **date** and **time** uses [ISO 8601](https://en.wikipedia.org/wiki/ISO_8601) formatting, e.g.:
  - date is represented as `YYYY-mm-dd`. Timezone (local) is added when necessary.
  - time is represented as `Thh:mm:ss`. Timezone is added when necessary. Time with arbitrary number of digits respresenting miliseconds is also accepted (when [ISO 8601](https://en.wikipedia.org/wiki/ISO_8601) format criteria is met) but the time without miliseconds is always returned.
  - day of week is represented as number 1..7, with 1 being Monday
  - week no. 1 is the week with the year's first Thursday in it
- **phone numbers** uses international mobile phone number format starting with '+' and including country code (example of valid number: `+420739111222`)
- **numbers format** number format is defined by [JSON standard](http://www.json.org), e.g. decimals are separated by `.`
- **money format** uses [ISO 4217](https://en.wikipedia.org/wiki/ISO_4217) formatting (in minor units, e.g.: 12590 in minor units represents 125,90 CZK/EUR)

<!--
### Partial update
We support partial update using PATCH method. Use JSON Merge Patch according to [RFC-7386](https://tools.ietf.org/html/rfc7386).
-->

# Group Security
To access our API, partner has to obtain *access token* first; this token is a string of arbitrary length (30+ chars) and it has to be included in HTTP header to every request to API. This section describes way to obtain valid access token and use it to access protected resources.

- to obtain access token, use `/authentication/v1/partner` resource with appropriate parameters (see the [`/authentication/v1/partner` resource documentation](#reference/security/login-partner))

- access token should be present in every request using request header `Authorization`, with type `Bearer`. If access token has value `secret_token`, it should be specified as follows:

`Authorization: Bearer secret_token`

So the real example using curl will look like:

```
curl -H "Authorization: Bearer secret_token" https://api.homecredit.cz/financing/v1/applications
```

- access token has limited time validity (for 2 hours). After it is expired, partner has to obtain new one using `/authentication/v1/partner` resource.

- if partner fails to specify access token `401 Unauthorized` error and following response body is returned:

```
{
   "error_description": "The access token is missing",
   "error": "invalid_request"
}
```

- if partner provides invalid access token `401 Unauthorized` error and following response body is returned:

```
{
    "error_description":"The access token is invalid or has expired",
    "error":"invalid_token"
}
```

> IMPORTANT NOTE: Partner must keep his access token and login credentials safe. Login credentials nor access token should NEVER be put into client page. If partner plans to integrate API calls in client flow without submitting the page to server, he should implement REST endpoint bound to his shopping basket session, that will be used as a proxy to call HC API.

> NEVER transfer access token nor login credentials over plain HTTP. Such requests will be refused.

## Login partner [/authentication/v1/partner]

### Login partner [POST]
Partner authenticate himself and obtain acces token

+ Request (application/json; charset=utf-8)
    + Attributes (PartnerLogin)


+ Response 200(application/json; charset=utf-8)

        Partner acces token issued

    + Attributes (PartnerLoginResult)


+ Response 400(application/json; charset=utf-8)

        Unable to authenticate partner

    + Attributes (Errors)


# Group Application resources
Services that allows processing of *application* and *order* during their whole lifecycle.

## Create application [/financing/v1/applications]
Elementary flow starts when customer wants to use one of Home Credit's payment method for financing his purchase made in partner e-shop.

| Financing type     | Supported |
| ---                | ---       |
| `INSTALLMENT`      | YES       |


Use `/financing/v1/applications` resource with properly filled request that contains at least following data
- Customer information
  - Name (first name and last name - if possible, otherwise full name)
  - E-mail
  - Mobile phone number
  - Addresses (array, at least one item is required - type CONTACT)
    - City
    - Street
    - Street number
    - ZIP
    - Address type
- Order details
  - Number
  - Total Price (including VAT)
  - Order items (array, at least one item is required)
    - Code
    - Order item name
    - Total price (all pieces, including VAT)
- Financing type (always `INSTALLMENT`)
- Financing type details
  - \*Installment settings - preferred installment amount
  - \*Installment settings - preferred down payment amount
  - \*Installment settings - installment program product code
- Additional information necessary for the continuation and completion of the process
  - Your URL where the customer should be redirected after application approval
  - Your URL where the customer should be redirected after application rejection
  - URL of your notification endpoint you want us to send you notifications about particular application updates
> \* = Must be filled properly in case customer has already used installment calculator embedded on your website and selected preferred installment program. See the [Installments calculator resources section](#reference/installments-calculator-resources) for more details about possibility to embed installment calculator on your website. Leave empty otherwise.

If the request was successfully processed, you receive HTTP status code 201 and `Application` object with at least following information in the response:
- Application unique ID
- Application state
- Application substate
- Gateway redirect URL where you should redirect a customer after processing of the response

> You may also receive information about initially requested **down payment** - this can be later changed by customer during the process of finalization of financing application. In such cases we recommend you to check the final **down payment** of approved loan (after the *application* is approved) via `/financing/v1/applications/{applicationId}`.

If the request was **recognized as duplication**
- and previously created `Application` is canceled (`Application.state = CANCELLED` and `Application.stateReason = CANCELLED_NOT_PAID`), new `Application` is created, you receive HTTP status code 201 and `Application` object with information specified above (at least) in the response
- and previously created `Application` is still new (i.e. without any recorded action by a client), no `Application` is created, you receive HTTP status code 200 and the `Application` object created during the first related successful resource call.
- and previously created `Application` is neither canceled nor new anymore, you receive HTTP status code 422 with error code `DUPLICATE_ORDER_NUMBER`.

In case of an error, you receive one of the following results:
| Status code | Code                   | Explanation                                                                     |
| ---         | ---                    | ---                                                                             |
| 400         | INVALID_REQUEST        | Request was not well formatted (malformed request syntax, size too large, etc.) |
| 422         | UNPROCESSABLE          | Request was well-formed but was unable to be followed due to semantic errors    |
| 422         | DUPLICATE_ORDER_NUMBER | Creating of Application with duplicated Order number is not allowed             |
| 500         | INTERNAL_SERVER_ERROR  | Unexpected condition was encountered and no more specific message is suitable   |


### Create application [POST]
Create new *application* of particular financing type

+ Request Example_VALID_REQUEST (application/json;charset=UTF-8)
    + Attributes (ApplicationRequest)
      + `customer` (Customer, required) - Customer information
          + `addresses` (array[Address], fixed-type, required) - Addresses. Only `PERMANENT` and `CONTACT` types are allowed.
              + Sample
                  + (object)
                      + `name`: `John Newborn`
                      + `city`: `Prague`
                      + `streetAddress`: `Letenská`
                      + `streetNumber`: `22`
                      + `zip`: `140 00`
                      + `addressType`: `CONTACT`

+ Response 201(application/json;charset=UTF-8)

        Application was created

    + Attributes (Application)


+ Request Example_REPEATED_VALID_REQUEST (application/json;charset=UTF-8)
    + Attributes (ApplicationRequest)
      + `customer` (Customer, required) - Customer information
          + `addresses` (array[Address], fixed-type, required) - Addresses. Only `PERMANENT` and `CONTACT` types are allowed.
              + Sample
                  + (object)
                      + `name`: `John Newborn`
                      + `city`: `Prague`
                      + `streetAddress`: `Letenská`
                      + `streetNumber`: `22`
                      + `zip`: `140 00`
                      + `addressType`: `CONTACT`

+ Response 200(application/json;charset=UTF-8)

        Application was created in the past (nothing changed)

    + Attributes (Application)


+ Request Bad request (application/json;charset=UTF-8)
    + Attributes (ApplicationRequest)
      + `type`: `INVALID_TYPE` (enum, required) - Financing type
          + `INSTALLMENT` - Pay in monthly installments ("nákup na splátky")

+ Response 400(application/json;charset=UTF-8)

        There was an error processing request

    + Attributes (Errors)


## Application detail [/financing/v1/applications/{applicationId}]
If you need to find out current information about particular *application* - primarily its state and other details - use `/financing/v1/applications/{applicationId}` resource where `{applicationId}` is the *application* ID you received in the response of `/financing/v1/applications` after its creation.

| Financing type     | Supported         |
| ---                | ---               |
| `INSTALLMENT`      | YES               |

If the request was successfully processed, you receive HTTP status code 200 and *application* object with at least following information in the response:
- Application unique ID
- Application type
- Application state
- Application substate
- Gateway redirect URL

> You may also receive information about current **down payment** which is useful when you need to find out whether customer's loan was approved with different down payment than had been initially set in your embedded installment calculator.

In other cases, you receive one of the following errors:
| Status code | Code                  | Message                                                                          |
| ---         | ---                   | ---                                                                              |
| 400         | INVALID_REQUEST       | Request was not well formatted (malformed request syntax, size too large, etc.)  |
| 404         | APPLICATION_NOT_FOUND | The requested resource could not be found                                        |
| 422         | NOT_SUPPORTED         | Resource is not supported for given financing type                               |
| 422         | UNPROCESSABLE         | The request was well-formed but was unable to be followed due to semantic errors |
| 500         | INTERNAL_SERVER_ERROR | Unexpected condition was encountered and no more specific message is suitable    |

+ Parameters
    + applicationId (string, required, `01-11200a0ee1`)


### Get application detail [GET]
Get specific *application* detail by ID

+ Response 200(application/json;charset=UTF-8)

        Actual application data

    + Attributes (Application)


+ Response 404(application/json;charset=UTF-8)

        Application does not exist

    + Attributes (ErrorsNotFound)


## Cancel application [/financing/v1/applications/{applicationId}/cancel]
If there is need to completely cancel customer's *order*, it is necessary to cancel respective *application*. For this purpose use `/financing/v1/applications/{applicationId}/cancel` resource where `{applicationId}` is the *application* ID you received in the response of `/financing/v1/applications` after its creation.

| Financing type     | Supported |
| ---                | ---       |
| `INSTALLMENT`      | YES       |

| Application state | Availability |
| ---               | ---          |
| `REJECTED`        | NO           |
| `CANCELLED`       | YES          |
| `PROCESSING`      | YES          |
| `READY`           | YES          |

If the request was successfully processed but the *application* had been already paid (`Application.stateReason = READY_PAID`) you receive HTTP status code **202 ACCEPTED** that means the process of a cancelation of the *application* began. It SHOULD be completed after fulfilment of several back office manual actions.

In other cases, when the request is successfully processed, you receive HTTP status code **200 OK**.

You also receive at least following information about (soon to be) cancelled *application* in the response:
- Application unique ID
- Application type
- Application state
- Application substate

In other cases, you receive one of the following errors:
| Status code | Code                  | Explanation                                                                      |
| ---         | ---                   | ---                                                                              |
| 400         | INVALID_REQUEST       | Request was not well formatted (malformed request syntax, size too large, etc.)  |
| 404         | OBJECT_NOT_FOUND      | The requested resource could not be found                                        |
| 422         | NOT_SUPPORTED         | Resource is not supported for given financing type                               |
| 422         | UNPROCESSABLE         | The request was well-formed but was unable to be followed due to semantic errors |
| 422         | APPLICATION_REJECTED  | When you try to cancel already `REJECTED` `Application`, which is not allowed    |
| 500         | INTERNAL_SERVER_ERROR | Unexpected condition was encountered and no more specific message is suitable    |


+ Parameters
    + applicationId (string, required, `01-11b00a1ef1`)


### Cancel application [PUT]
Cancel *application*.

+ Request (application/json;charset=UTF-8)
    + Attributes (ApplicationCancelRequest)

+ Response 200(application/json;charset=UTF-8)

        Application was cancelled

    + Attributes (Application)


+ Response 404(application/json;charset=UTF-8)
    Application was not found

    + Attributes (ErrorsNotFound)


+ Response 422(application/json;charset=UTF-8)
    Application can not be cancelled

    + Attributes (Errors)


## Change application order [/financing/v1/applications/{applicationId}/order]
When there's some changes within *order* that may have an important impact on the repayment process after its submission, use `/financing/v1/applications/{applicationId}/order` resource in order we can adjust everything properly. `{applicationId}` is the application ID you received in the response of `/financing/v1/applications` after its creation.

| Financing type     | Supported  |
| ---                | ---        |
| `INSTALLMENT`      | YES        |

| Application state | Availability                                                          |
| ---               | ---                                                                   |
| `REJECTED`        | NO                                                                    |
| `CANCELLED`       | NO                                                                    |
| `PROCESSING`      | YES                                                                   |
| `READY`           | YES* (see the [availability note bellow](#change-order-availability)) |

Use `/financing/v1/applications/{applicationId}/order` resource with properly filled request that contains (only) changed data (resource allows partial put).
<a name="change-order-availability"></a>
> **AVAILABILITY NOTE:** Valid request object contains only order number (`order.number`) and/or one item in the array `order.variableSymbols[]`. Supported `stateReason` of `state READY` are `READY_TO_SHIP`, `READY_SHIPPED`, `READY_DELIVERING` (`state PROCESSING` is supported without any limitations).

If the request was successfully processed, you receive HTTP status code 200 and object of information about changed *order* plus basic information about respective *application* (ID, state, substate) with at least following information in the response:
- Order number
- Order total price (including VAT)
- Order items (array)
  - Order item name
  - Total price (all pieces, including VAT)
  - Order item state
- Order state
- Application basic information
  - ID
  - Application state
  - Application substate

In other cases, you receive one of the following errors:
| Status code | Code                   | Explanation                                                                       |
| ---         | ---                    | ---                                                                               |
| 400         | INVALID_REQUEST        | Request was not well formatted (malformed request syntax, size too large, etc.)   |
| 404         | OBJECT_NOT_FOUND       | The requested resource could not be found                                         |
| 422         | NOT_SUPPORTED          | Resource is not supported for given financing type                                |
| 422         | UNPROCESSABLE          | The request was well-formed but was unable to be followed due to semantic errors  |
| 422         | DUPLICATE_ORDER_NUMBER | Change to already existing order number of not cancelled order is not allowed     |
| 500         | INTERNAL_SERVER_ERROR  | Unexpected condition was encountered and no more specific message is suitable     |


+ Parameters
    + applicationId (string, required, `01-11b00a1ef1`)


### Change application order [PUT]
Change *order*. Used to change order number and/or variable symbol.

+ Request Example_VALID_REQUEST (application/json;charset=UTF-8)
    + Attributes (OrderChangeRequest)


+ Response 200(application/json;charset=UTF-8)
        Order was changed
    + Attributes (OrderExtended)


+ Request Example_INVALID_REQUEST (application/json;charset=UTF-8)
    + Attributes (OrderChangeRequest)
        + reason: `Too long reason of change application order operation` (string, optional) - Reason of change.

+ Response 400(application/json;charset=UTF-8)
    Bad request.
    + Attributes (Errors)


+ Request Example_APPLICATION_NOT_FOUND (application/json;charset=UTF-8)
    + Attributes (OrderChangeRequest)

+ Response 404(application/json;charset=UTF-8)
    Application not found.
    + Attributes (ErrorsNotFound)


+ Request Example_NOT_SUPPORTED (application/json;charset=UTF-8)
    + Attributes (OrderChangeRequest)

+ Response 422(application/json;charset=UTF-8)
    Order can not be changed.
    + Attributes (ErrorsNotSupported)




## Mark order as sent [/financing/v1/applications/{applicationId}/order/send]
When the whole *order* was shipped to the customer, use `/financing/v1/applications/{applicationId}/order/send` resource where `{applicationId}` is the *application* ID you received in the response of `/financing/v1/applications` after its creation.

| Financing type     | Supported |
| ---                | ---       |
| `INSTALLMENT`      | YES       |

| Application state | Availability                                                           |
| ---               | ---                                                                    |
| `PROCESSING`      | NO                                                                     |
| `REJECTED`        | NO                                                                     |
| `CANCELLED`       | NO                                                                     |
| `READY`           | YES  (* available only when `Application.stateReason = READY_TO_SHIP`) |


If the request was successfully processed, you receive HTTP status code 200 and object of information about changed *order* plus basic information about respective *application* (ID, state, substate) with at least following information in the response:
- Order number
- Order total price (including VAT)
- Order items (array)
  - Order item name
  - Total price (all pieces, including VAT)
  - Order item state
- Order state
- Application basic information
  - ID
  - Application state
  - Application substate

  In other cases, you receive one of the following errors:
  | Status code | Code                  | Explanation                                                                      |
  | ---         | ---                   | ---                                                                              |
  | 400         | INVALID_REQUEST       | Request was not well formatted (malformed request syntax, size too large, etc.)  |
  | 404         | OBJECT_NOT_FOUND      | The requested resource could not be found                                        |
  | 422         | NOT_SUPPORTED         | Resource is not in supported state (substate)                                    |
  | 422         | UNPROCESSABLE         | The request was well-formed but was unable to be followed due to semantic errors |
  | 500         | INTERNAL_SERVER_ERROR | Unexpected condition was encountered and no more specific message is suitable    |

+ Parameters
    + applicationId (string, required, `01-11b00a1ef1`)


### Mark order as sent [PUT]
Mark order as sent.

System notification. The whole *order* was shipped to the customer. Based on partner's settings, application payment may be processed.

+ Response 200(application/json;charset=UTF-8)
        Order items or whole order is marked as shipped

    + Attributes (OrderExtended)


+ Response 422(application/json;charset=UTF-8)
        State change can not be processed

    + Attributes (Errors)


## Mark order as delivered [/financing/v1/applications/{applicationId}/order/deliver]
When the whole *order* was delivered to the customer, use `/financing/v1/applications/{applicationId}/order/deliver` resource where `{applicationId}` is the *application* ID you received in the response of `/financing/v1/applications` after its creation.

| Financing type     | Supported |
| ---                | ---       |
| `INSTALLMENT`      | YES       |

| Application state | Availability                                                                     |
| ---               | ---                                                                              |
| `PROCESSING`      | NO                                                                               |
| `REJECTED`        | NO                                                                               |
| `CANCELLED`       | NO                                                                               |
| `READY`           | YES* (see the [availability note bellow](#mark-order-as-delivered-availability)) |

<a name="mark-order-as-delivered-availability"></a>
> **AVAILABILITY NOTE:** Request is valid when `Application.stateReason = READY_TO_SHIP`. Request is also valid after the transition of `Application` to the `stateReason = READY_DELIVERED` or `stateReason = READY_PAID` (i.e. repeated valid requests return HTTP status code 200 OK unless the `Application.stateReason = CANCELLED_RETURNED`)

If the request was successfully processed, you receive HTTP status code 200 and object of information about changed *order* plus basic information about respective *application* (ID, state, substate) with at least following information in the response:
- Order number
- Order total price (including VAT)
- Order items (array)
  - Order item name
  - Total price (all pieces, including VAT)
  - Order item state
- Order state
- Application basic information
  - ID
  - Application state
  - Application substate

In other cases, you receive one of the following errors:
| Status code | Code                  | Explanation                                                                      |
| ---         | ---                   | ---                                                                              |
| 400         | INVALID_REQUEST       | Request was not well formatted (malformed request syntax, size too large, etc.)  |
| 404         | OBJECT_NOT_FOUND      | The requested resource could not be found                                        |
| 422         | NOT_SUPPORTED         | Resource is not in supported state (substate)                                    |
| 422         | UNPROCESSABLE         | The request was well-formed but was unable to be followed due to semantic errors |
| 500         | INTERNAL_SERVER_ERROR | Unexpected condition was encountered and no more specific message is suitable    |


+ Parameters
    + applicationId (string, required, `01-11b00a1ef1`)


### Mark order as delivered [PUT]
Mark order as delivered.

System notification. The whole order was delivered to the customer. Based on partner's settings, application payment may be processed.

+ Response 200(application/json;charset=UTF-8)
        Order items or whole order is marked as delivered

    + Attributes (OrderExtended)


+ Response 422(application/json;charset=UTF-8)
        State change can not be processed

    + Attributes (Errors)


## Orders [/financing/v1/orders{?applicationId}]
If you need to find out current information about particular *order* - primarily its state and other details - use `/financing/v1/orders{?applicationId}` resource where `{applicationId}` is the *application* ID you received in the response of `/financing/v1/applications` after its creation.

| Financing type     | Supported |
| ---                | ---       |
| `INSTALLMENT`      | YES       |

| Application state | Availability |
| ---               | ---          |
| `PROCESSING`      | YES          |
| `REJECTED`        | YES          |
| `CANCELLED`       | YES          |
| `READY`           | YES          |


If the request was successfully processed, you receive HTTP status code 200 and object of information about specified *order* plus basic information about respective *application* (ID, state, substate) with at least following information in the response:
- Order number
- Order total price (including VAT)
- Order items (array)
  - Order item name
  - Total price (all pieces, including VAT)
  - Order item state
- Order state
- Application basic information
  - ID
  - Application state
  - Application substate

In other cases, you receive one of the following errors:
| Status code | Code                  | Explanation                                                                      |
| ---         | ---                   | ---                                                                              |
| 404         | OBJECT_NOT_FOUND      | The requested resource could not be found                                        |
| 422         | UNPROCESSABLE         | The request was well-formed but was unable to be followed due to semantic errors |
| 500         | INTERNAL_SERVER_ERROR | Unexpected condition was encountered and no more specific message is suitable    |


+ Parameters
    + applicationId: `01-11b00a1ef1` (string, optional) - Application ID


### Get order [GET]
Search for *order* using specified parameters.

+ Response 200(application/json;charset=UTF-8)

        Order data

    + Attributes (OrderExtended)


+ Response 404(application/json;charset=UTF-8)

        Order not found

    + Attributes (Errors)



# Group Scoring resources
Services that allow partner e-shops to find out a probability of *application's* approval.


## Precheck [/financing/v1/scorings/precheck]
Simple operation for customer preliminary scoring. Returns a suitability of particular customer for financing services. It is best suitable for identifying clients who will probably be rejected. Take into account that positive recommendation can not guarantee customer's approval (it is not the main scoring) as the result is based on only a few elementary pieces of information about the customer.

Resource has to be called with valid access token (see the [Security section](#reference/security)) from your server. If you plan to integrate it in a client flow, you should implement REST endpoint bound to your shopping basket session that will be used as a proxy to call HC API - **NEVER put access token directly to client side**.

Possible error codes explanation:
| Status code | Code                | Explanation                                                                     |
| ---         | ---                 | ---                                                                             |
| 400         | INVALID_REQUEST     | Request was not well formatted (malformed request syntax, size too large, etc.) |
| 500         | FAILURE             | Internal failure                                                                |

### Run precheck [POST]

+ Request (application/json;charset=UTF-8)
    + Attributes (PrecheckRequest)


+ Response 200(application/json;charset=UTF-8)

    + Attributes (PrecheckResult)


+ Response 400(application/json;charset=UTF-8)
        Error in processing request

    + Attributes (Errors)


## !!OBSOLETE!! Precheck [/financing/v1/precheck]
> **ATTENTION:** This resource is **!!OBSOLETE!!**, use [Precheck operation](#reference/scoring-resources/precheck) instead!

Returns probability of *application's* approval and limits of particular customer, if known to HC

It has to be called with valid access token (see the [Security section](#reference/security)) from your server. If you plan to integrate it in client flow, you should implement REST endpoint bound to your shopping basket session, that will be used as a proxy to call HC API - **NEVER put access token directly to client side**.

Possible error codes explanation:
| Status code | Code                | Explanation                                                                     |
| ---         | ---                 | ---                                                                             |
| 400         | INVALID_REQUEST     | Request was not well formatted (malformed request syntax, size too large, etc.) |
| 422         | PERSONAL_ID_INVALID | PersonalId is not valid                                                         |
| 500         | FAILURE             | Internal failure                                                                |

### [OBSOLETE] Precheck [POST]
Returns probability of *application's* approval and limits of particular customer, if known to HC

+ Request (application/json;charset=UTF-8)
    + Attributes (ObsoletePrecheckRequest)


+ Response 200(application/json;charset=UTF-8)

        Probability of approval

    + Attributes (ObsoletePrecheckResults)


+ Response 400(application/json;charset=UTF-8)
        Error in processing request

    + Attributes (Errors)


# Group Installments calculator resources
When you want to provide your customer (that wants to pay for a purchase by a loan) an option to choose from available installment programs while he is still on your website, it is necessary to implement "installments calculator".

Choose one of the following approaches to integrate installments calculator into your website:

- A) Implementing your own installment calculator, with your FE in your design that uses designated API resources ([described below](#reference/installments-calculator-resources/implementing-own-installments-calculator)).
- B) Integrating Home Credit's javascript widget (described in [special chapter](#reference/javascript-widget-integration)) that:
  - provides GUI and front-end functionalities
  - process all needed calculations
  - provides necessary data to e-shop's back-end in order to easily use them within [*application* creation request](#reference/application-resources/create-application)

> NOTE: Implementation of installment calculator is optional. Customers can always use the installment calculator embedded in Home Credit's front-end.

## Implementing own installments calculator
In order to implement your own installment calculator (with your GUI design) you will need following resources:
- `/financing/v1/installmentProgramsOffers` - to find out available installment programs offers and their details
- `/financing/v1/installmentPrograms` - to find out details of a chosen installment program
- `/financing/v1/installmentProgramsDownPayments` - to find out down payment options within available installment programs offers

### Installment programs offers [/financing/v1/installmentProgramsOffers]
When a customer wants to pay for a purchase by a loan and you want to show him an offer of available installment programs, use `/financing/v1/installmentProgramsOffers` resource with properly filled request that contains at least following data:
- Product set code (you should know the proper product set code from Home Credit's sales representative or other similar source; if you don't provide product set code, your default product set will be used)
- Price of customer's purchase

If the request was successfully processed, you receive HTTP status code 200 and array of objects of available installment programs with at least following information in the response:
- Installment program (array)
  - Installment program product code
  - Installment program type (in case of only one installment program offer in response it is of type `FAVOURITE`)
  - Installment amount
  - Number of installments

In other cases, you receive one of the following errors:
| Status code | Code                  | Explanation                                                                      |
| ---         | ---                   | ---                                                                              |
| 400         | INVALID_REQUEST       | Request was not well formatted (malformed request syntax, size too large, etc.)  |
| 422         | UNPROCESSABLE         | The request was well-formed but was unable to be followed due to semantic errors |
| 500         | INTERNAL_SERVER_ERROR | Unexpected condition was encountered and no more specific message is suitable    |


#### Calculate installment programs offer  [POST]
Calculate installment programs offer according to specified input

feature | supported by resource
--- | ---
[paging](#header-paging) | no
[sorting](#header-sorting) | no
[filtering](#header-filtering) | no

+ Request (application/json;charset=UTF-8)
    + Attributes (InstallmentProgramsOffersRequest)


+ Response 200(application/json;charset=UTF-8)

        Installment programs collection

    + Attributes (InstallmentPrograms, required)

+ Response 400(application/json;charset=UTF-8)
        Error in processing request

    + Attributes (Errors)


### Installment programs [/financing/v1/installmentPrograms]
When a customer wants to know details of one of previously offered installment programs use `/financing/v1/installmentPrograms` resource with properly filled request that contains at least following data:
- Product code of given installment program
- Price of customer's purchase

If the request was successfully processed, you receive HTTP status code 200 and object of information about specified installment program with at least following information in the response:
- Installment program type
- Installment amount
- Number of installments
- Installment program details

In other cases, you receive one of the following errors:
| Status code | Code                  | Explanation                                                                      |
| ---         | ---                   | ---                                                                              |
| 400         | INVALID_REQUEST       | Request was not well formatted (malformed request syntax, size too large, etc.)  |
| 422         | UNPROCESSABLE         | The request was well-formed but was unable to be followed due to semantic errors |
| 500         | INTERNAL_SERVER_ERROR | Unexpected condition was encountered and no more specific message is suitable    |


#### Calculate installment program detail [POST]
Calculate installment program detailed information.

It returns the installment program that most closely matches specified input.

+ Request (application/json;charset=UTF-8)
    + Attributes (InstallmentProgramsRequest)

+ Response 200(application/json;charset=UTF-8)
Detailed information about installment program
    + Attributes (InstallmentProgramDetail)

+ Response 422(application/json;charset=UTF-8)
No installment program was found
    + Attributes (Errors)


### Installment programs down payments [/financing/v1/installmentProgramsDownPayments]
When a customer wants to pay for a purchase by a loan and also wants to choose own down payments settings within offered installment programs, use `/financing/v1/installmentProgramsDownPayments` resource with properly filled request that contains at least following data:
- Product set code (you should know the proper product set code from Home Credit's sales representative or other similar source)
- Price of customer's purchase

If the request was successfully processed, you receive HTTP status code 200 and object of information about available down payments settings with at least following information in the response:
- Minimum down payment amount
- Maximum down payment amount
- Step between given minimum and maximum down payment amounts

In other cases, you receive one of the following errors:
| Status code | Code                  | Explanation                                                                      |
| ---         | ---                   | ---                                                                              |
| 400         | INVALID_REQUEST       | Request was not well formatted (malformed request syntax, size too large, etc.)  |
| 422         | UNPROCESSABLE         | The request was well-formed but was unable to be followed due to semantic errors |
| 500         | INTERNAL_SERVER_ERROR | Unexpected condition was encountered and no more specific message is suitable    |


#### Calculate installment programs down payments [POST]
Calculate installment programs down payments according to specified input

+ Request (application/json;charset=UTF-8)
    + Attributes (InstallmentProgramsDownPaymentsRequest)

+ Response 200(application/json;charset=UTF-8)
Down payments information - minimal, maximal and available step
    + Attributes (InstallmentProgramsDownPayments)

+ Response 400(application/json;charset=UTF-8)
Error in processing request
    + Attributes (Errors)


## Group JavaScript widget integration
In order to use Home Credit's javascript widget as an installment calculator, your e-shop back-end has to be configured properly. How to do it is currently described in [our on-line repository](https://github.com/homecreditcz/widget-calculator) (currently written in Czech).


# Group Health check
To easily find out current API state use the [API state check resource](#reference/api-status-check/api-status-check).
To check the availability of back-end services use the [health check resource](#reference/health-check/health-check).

## API status check [/info]
If the API is up and running, you receive HTTP status code 204 and object of information about it.

In other cases, you receive one of the following errors:
| Status code | Code                  |
| ---         | ---                   |
| 406         | NOT_ACCEPTABLE        |
| 500         | INTERNAL_SERVER_ERROR |

> Note: resource DOES NOT require valid *access_token* in the HTTP header of the request

### API status check [GET]
Get current state of the API

+ Response 200(application/json;charset=UTF-8)

        API is up and running

    + Attributes (ApiInfo)


+ Response 500(application/json;charset=UTF-8)
        Error in processing request

    + Attributes (Errors)


## API health check [/financing/v1/health{?timeout}]
If the API back-end services is up and running, you receive HTTP status code 204.

In other cases, you receive one of the following errors:
| Status code | Code                  |
| ---         | ---                   |
| 500         | SERVICE_FAILED        |
| 504         | SERVICE_TIMEOUT       |

> Note: resource DOES require valid *access_token* in the HTTP header of the request

+ Parameters
    + timeout: `2000` (string, optional) - Optional timeout (in miliseconds) for completition of the request (504 is returned when not fulfilled). If empty, considered 2000.

### API health check [GET]
Get current state of the API

+ Response 204

+ Response 500(application/json;charset=UTF-8)
        Error in processing request

    + Attributes (Errors)


# Group Merchantsite resources
Services that should be developed and exposed by partner e-shops to allow HC asynchronously inform these partner e-shops about important changes regarding particular *applications* and *orders*

> **ATTENTION:** This set of APIs is NOT exposed from HC. Instead, it should be developed by partner and accept calls specified below.


## Application notification [/financing/v1/{application.merchantUrls.notificationEndpoint}]
We use this resource when there is need to let you know about important changes within particular *application*. Namely in following situations:

| Trigger                                                             | Corresponding Application.stateReason | Expected reaction                                                                                       |
| ---                                                                 | ---                                   | ---                                                                                                     |
| Application was approved (approval process is proceeding correctly) | PROCESSING_APPROVED                   | Do not cancel customer's order prematurely                                                              |
| Application was rejected                                            | REJECTED                              | You should probably cancel respective order and release reserved goods                                  |
| Application was cancelled (before delivery)                         | CANCELLED_NOT_PAID                    | You should probably cancel respective order and release reserved goods                                  |
| Order to dispatch (we commit to finance customer's order)           | READY_TO_SHIP                         | Dispatch the order to the customer                                                                      |
| Application is going to be paid out                                 | READY_PAID                            | Wait for us processing financial compensation with you                                                  |
<!-- | Application was cancelled (after delivery)                          | CANCELLED_RETURNED                    | You should probably cancel respective order and process returning of the goods (if not already done so) |-->

We fill the request with at least following information:
- Application unique ID
- Application state
- Application substate
- Down payment
- Timestamp of the notification
- Hashed message (check sum)

> USEFUL NOTE: If you think it takes us unusually long time to send you particular notification, do not hesitate to use `/financing/v1/applications/{applicationId}` resource (where `{applicationId}` is the application ID you received in the response of `/financing/v1/applications` after its creation) to directly find out information you seek.

### Application notification [POST]
Notify partner about changes in application.

+ Request (application/json;charset=UTF-8)
    + Attributes (NotificationRequest)
        + `stateReason`: `PROCESSING_APPROVED` (enum, required) - Describes internal state of application, e.g. when state is PROCESSING - reason why application remains in processing state
           + `PROCESSING_REDIRECT_NEEDED` - Redirect to HC is needed. Redirect user to `gatewayRedirectUrl`.
           + `PROCESSING_PREAPPROVED` - Preliminary approval by HC
           + `PROCESSING_APPROVED` - Approved by HC, to be signed by client
           + `PROCESSING_REVIEW` - Manual review by HC in progress
           + `PROCESSING_ALT_OFFER` - Alternative offered to client
           + `PROCESSING_SIGNED` - Signed by client, to verification by HC
           + `READY_TO_SHIP` - Financing approved, goods ready to be shipped to client
           + `READY_SHIPPED` - Goods shipped to client
           + `READY_DELIVERING` - Verification of goods delivery
           + `READY_DELIVERED` - Goods delivered to client
           + `READY_PAID` - Paid to merchant
           + `REJECTED` - Rejected by HC
           + `CANCELLED_NOT_PAID` - Cancelled before delivery
           + `CANCELLED_RETURNED` - Cancelled after delivery, goods returned to merchant

+ Response 200 (application/json;charset=UTF-8)

         {
            "status": "OK"
         }

+ Response 400 (application/json;charset=UTF-8)

        Can not process changes

# Group Testing & Integration
This section should help new partner's e-shop developers with better understanding of the API and connected processes especially during early stages of the API integration.

> Temporarily described on a [separate website](https://github.com/homecreditcz/oneclick-api) (currently only in Czech).

This section also contains resources for easier integration to API.

> NOTE: Valid access token is required for the usage of these resources (the same acces token used for the whole API)

> NOTE: Those resources work only on testing and integration environments.

## Change application state - integration usage only [/fakeshop/rest/applications/{applicationId}/changeState]
Use this resource for changing Application state (`stateReason`) to desired one. Following table contains allowed transitions for this resource.

| Current stateReason of Application (from) | Available transitions (to)                                                                    |
| ---                                       | ---                                                                                           |
| `PROCESSING_REDIRECT_NEEDED`              | `PROCESSING_APPROVED`, `PROCESSING_SIGNED`, `READY_TO_SHIP`, `REJECTED`, `CANCELLED_NOT_PAID` |
| `PROCESSING_APPROVED`                     | `PROCESSING_SIGNED`, `READY_TO_SHIP`, `CANCELLED_NOT_PAID`                                    |
| `PROCESSING_SIGNED`                       | `READY_TO_SHIP`, `CANCELLED_NOT_PAID`                                                         |
| `READY_SHIPPED`                           | `CANCELLED_NOT_PAID`                                                                          |
| `READY_DELIVERED`                         | `CANCELLED_RETURNED`                                                                          |

> NOTE: This action simulates real application process, which means that Application may be moved through one or multiple steps (`stateReason`) - as described in state diagram [State diagram of Application](https://github.com/mdostal-hci/oneclick-images/raw/master/StateDiagramApplication.png). That is why you may receive multiple notifications about changes of Application's state. Example: if you request change from `PROCESSING_REDIRECT_NEEDED` to `READY_TO_SHIP`, you will receive `PROCESSING_APPROVED` and `READY_TO_SHIP` notifications.

> NOTE: As you may see no transition from `READY_TO_SHIP` is allowed for `/fakeshop/rest/applications/{applicationId}/changeState` resource. You should use 'Mark order as...' resources according to your Order life cycle.

+ Parameters
    + applicationId (string, required, `01-11200a0ee1`)

### Change application state - integration usage [POST]

+ Request Valid_request (application/json;charset=UTF-8)
    + Attributes (IntegrationChangeStateRequest)

+ Response 200 (application/json;charset=UTF-8)
   + Attributes (ApplicationBase)


+ Request Application_not_found (application/json;charset=UTF-8)
   + Attributes (IntegrationChangeStateRequest)

+ Response 404 (application/json;charset=UTF-8)

         Application does not exist

     + Attributes (ErrorsNotFound)

+ Request Application_transition_not_allowed (application/json;charset=UTF-8)
   + Attributes (IntegrationChangeStateRequest)

+ Response 422 (application/json;charset=UTF-8)

         Transition is not allowed

     + Attributes (ErrorsNotSupported)


# Data Structures

## ApplicationRequest (object)
Financing application request

### Properties
+ `customer` (Customer, required) - Customer information
+ `order` (OrderBase, required) - Order information
+ `type` (enum, required) - Financing type
    + `INSTALLMENT` - Pay in monthly installments ("nákup na splátky")
+ `settingsInstallment` (SettingsInstallment, required) - Settings for INSTALLMENT Application type.
+ `merchantUrls` (MerchantUrls, required) - Collection of partner's URLs used for redirection of a customer back to a partner website or as a notification endpoint
+ `precheckIds` (array[string], fixed-type, optional) - Array of all precheck ids related to this application. See [Precheck operation](#reference/scoring-resources/precheck/create-application) and it's response.


## ApplicationBase (object)
Financing application base information

### Properties
+ `id`: `01-11200a0ee1` (string, required) - Unique identifier in HCO
+ `state` (enum, required) - Application state.
    + `PROCESSING` - Application is being processed by HC
    + `READY` - Application was approved and is ready for financing
    + `REJECTED` - Application was rejected
    + `CANCELLED` - Application was cancelled by client, either before approval or after delivery
+ `stateReason` (enum, required) - Describes internal state of application, e.g. when state is PROCESSING - reason why application remains in processing state
    + `PROCESSING_REDIRECT_NEEDED` - Redirect to HC is needed. Redirect user to `gatewayRedirectUrl`.
    + `PROCESSING_PREAPPROVED` - Preliminary approval by HC
    + `PROCESSING_APPROVED` - Approved by HC, to be signed by client
    + `PROCESSING_REVIEW` - Manual review by HC in progress
    + `PROCESSING_ALT_OFFER` - Alternative offered to client
    + `PROCESSING_SIGNED` - Signed by client, to verification by HC
    + `READY_TO_SHIP` - Financing approved, goods ready to be shipped to client
    + `READY_SHIPPED` - Goods shipped to client
    + `READY_DELIVERING` - Verification of goods delivery
    + `READY_DELIVERED` - Goods delivered to client
    + `READY_PAID` - Paid to merchant
    + `REJECTED` - Rejected by HC
    + `CANCELLED_NOT_PAID` - Cancelled before delivery
    + `CANCELLED_RETURNED` - Cancelled after delivery, goods returned to merchant

## Application (ApplicationBase)
Financing application

### Properties
+ `customer` (CustomerBase, optional) - Customer data
+ `order` (Order, required) - Order data
+ `type` (enum, required) - Financing type
   + `INSTALLMENT` - Pay in monthly installments ("nákup na splátky")
+ `settingsInstallment` (SettingsInstallment, required) - Settings for INSTALLMENT Application type.
+ `gatewayRedirectUrl`: `https://www.ourloan.cz/application/11200a0ee1` (string, optional) - Gateway redirect URL. Redirect user to this URL if state is `PROCESSING` and stateReason is `PROCESSING_REDIRECT_NEEDED`.


## CustomerBase (object)
Customer data

### Properties
+ `firstName`: `John` (string, optional) -  Customer first (given) name. Must be paired with `lastName`. Required if `fullName` is empty. String values longer than 100 characters will be shortened to 100 characters.
+ `lastName`: `Newborn` (string, optional) - Customer last (family) name. Must be paired with `firstName`. Required if `fullName` is empty. String values longer than 100 characters will be shortened to 100 characters.
+ `fullName`: `Ing. John Newborn, Csc.` (string, optional) - Customer full name, including academical degrees and salutation. Required only if `firstName` and `lastName` are empty. Attribute `fullName` is parsed (and eventually shortened) into `firstName` and `lastName`; `fullName` is never returned in response.
+ `email`: `john.newborn@country.com` (string, required) - E-mail address of customer. Must be valid email according to [RFC 2822](https://tools.ietf.org/html/rfc2822).
+ `phone`: `+420777123456` (string, required) - Mobile phone number with country code (including leading `+`)
+ `addresses` (array[Address], fixed-type, optional) - Addresses. Only `PERMANENT` and `CONTACT` types are allowed.
+ `tin`: `12333321` (string, optional) - Tax identification number (ICO). String values longer than 10 characters will be shortened to 10 characters.

## Customer (CustomerBase)
Customer data

### Properties
+ `ipAddress`: `172.10.10.1` (string, optional) - IPv4 or IPv6 address of a customer.
+ `fingerprintComponents` (array[KeyValue], fixed-type, optional) - Fingerprints components.  Fill this property with data created with HCO JS library.
+ `extraData` (CustomerExtraData, optional) - Additional data, that may improve the approval probability.


## CustomerExtraData (object)

### Properties
+ `transactionsNumber`: 10 (number, optional) - Historical count of customer's cash transactions made in partner's e-shop
+ `cashlessTransactionsNumber`: 5 (number, optional) - Historical count of customer's cashless transactions made in partner's e-shop
+ `transactionsSum` (AmountOld, optional) - Sum of all cash transactions made in partner's e-shop
+ `cashlessTransactionsSum` (AmountOld, optional) - Sum of all cashless transactions made in partner's e-shop
+ `latestTransactionDate`: `2017-01-10` (string, optional) - Newest transaction date on partner e-shop.
+ `earliestTransactionDate`: `2015-10-12` (string, optional) - Oldest transaction date on partner e-shop
+ `pageTotalTime`: 250 (number, optional) - Total time spent on partners website (in seconds)
+ `pageReviewsTime`: 100 (number, optional) - Total time spent on partners website in review and comments sections (in seconds)
+ `cartItemsRemoved`: 2 (number, optional) - Total count of removed items form shopping basket during current shopping
+ `itemsViewed`: 10 (number, optional) - Number of viewed pages with products


## OrderChangeRequest (object)
+ order (OrderChange, required) - Changed order data.
+ reason (string, optional) - Reason of change.

## OrderChange (object)
+ `number`: `AA234` (string, optional) - Order number (internal for e-shop), empty string is not allowed.
+ `variableSymbols`: `123456`, `1234567` (array[string], fixed-type, optional) - Variable symbols (internal for e-shop)


## ApplicationCancelRequest (object)
Specification of the reason why the application is cancelled.

### Properties
+ `reason` (enum, optional) - Reason of cancellation. Considered as `APPLICATION_CANCELLED_OTHER` if not set.
    + `APPLICATION_CANCELLED_CARRIER_CHANGED` - Order carrier changed
    + `APPLICATION_CANCELLED_CART_CONTENT_CHANGED` - Cart content changed or customer returned from the cart
    + `APPLICATION_CANCELLED_BY_CUSTOMER` - Customer cancelled order (in his profile or through customer center)
    + `APPLICATION_CANCELLED_BY_ERP` - Cancelled by e-shop's back-office process (e.g. some items unavailable)
    + `APPLICATION_CANCELLED_EXPIRED` - Application expired (too long waiting time for response from HC)
    + `APPLICATION_CANCELLED_UNFINISHED` - Customer did not finish order
    + `APPLICATION_CANCELLED_BY_ESHOP_RULES` - Internal e-shop rules breached (e.g. problem with customer's additional data)
    + `APPLICATION_CANCELLED_OTHER` - Other reason - specified in `customReason`
+ `customReason` (string, optional) - Specification of `APPLICATION_CANCELLED_OTHER` reason


## OrderBase (object)
Order information, needed to create an application.

### Properties
+ `number`: `AA234` (string, required) - Order number (internal for e-shop). Maximum length 100 characters.
+ `variableSymbols`: `123456`, `1234567` (array[string], fixed-type, optional) - Variable symbols (internal for e-shop). For the financing type `INSTALLMENT` the first variable symbol in this array is used as the variable symbol of the reconciliation payment. Max 10 characters per variable symbol.
+ `totalPrice` (AmountOld, required) - Total order amount, including VAT
+ `totalVat` (array[VatAmountOld], fixed-type, optional) - Total VAT amounts split by their VAT rates
+ `addresses` (array[Address], fixed-type, optional) - Addresses. Only `BILLING` and `DELIVERY` types are allowed.
+ `deliveryType` (enum, optional) - Delivery type.
    + `DELIVERY_CARRIER`
    + `PERSONAL_BRANCH` - Personal collection at branch
    + `PERSONAL_PARTNER` - Personal collection at partner network
    + `ONLINE` - Online delivery (e.g. for intangible assets)
+ `reservationDate`: `2017-07-15T00:00:00+02:00` (string, optional) - Date and time until order is reserved. After this date and time, e-shop does not guarantee items availability (e.g. if application processing is longer, it may endanger order fullfillment).
+ `items` (array[ApplicationRequestOrderItem], fixed-type, required) - Order items



## Order (OrderBase)
Order information.

### Properties
+ `state` (enum, required) - Order state.
   + `PROCESSING` - Order is being processed by merchant
   + `SENT` - All order items was sent to customer
   + `DELIVERED` - All order items was delivered to customer
   + `RETURNED` - All order items was returned to merchant
   + `CANCELLED` - Order was fully cancelled
+ `items` (array[OrderItem], fixed-type, required) - Order items

## OrderExtended (Order)
Additional information about Application.

### Properties
+ `applicationInfo` (ApplicationBase, required) - Base information about respective application


## OrderItemBase (object)
Order item base information, needed to identify order item

### Properties
+ `code`: `EXC4677-1a` (string, required) - Internal code for item (internal to e-shop). Used to better identify the item for future changes. Maximum 100 characters
+ `ean`: 888462064002 (string, optional) - EAN code. Maximum 32 characters
+ `name`: `iPhone 6s 32GB SpaceGray` (string, required) - Item name. String values longer than 60 characters will be shortened to 60 characters.
+ `quantity`: 1 (number, optional) - Item quantity. If empty, considered as 1.


## ApplicationRequestOrderItem (OrderItemBase)
Order item information, needed to create an application.

### Properties
+ `type` (enum, optional) - Item type
    + `PHYSICAL`
    + `DISCOUNT`
    + `SHIPPING_FEE`
    + `SALES_TAX`
    + `DIGITAL`
    + `GIFT_CARD`
    + `STORE_CREDIT`
    + `FEE`
    + `INSURANCE`
+ `producer`: `Apple` (string, optional) - Maximum 50 characters.
+ `unitPrice` (AmountOld, optional) - Price per one piece. If empty, automatically considered that `unitPrice` is `totalPrice` / `quantity`.
+ `unitVat` (VatAmountOld, optional) - VAT amount per one piece. If empty, automatically considered that `unitVat` is `totalVat` / `quantity`.
+ `totalPrice` (AmountOld, required) - Total price for all pieces, VAT inclusive
+ `totalVat` (VatAmountOld, optional) - Total VAT amount for all pieces
+ `image` (File, optional) - Item image


## OrderItem (ApplicationRequestOrderItem)
Order item information.

### Properties
+ `state` (enum, required) - Order state.
   + `PROCESSING` - Oorder item delivery is being processed by merchant
   + `SENT` - Items wa sent to customer
   + `DELIVERED` - Order item was delivered to customer
   + `RETURNED` - Order item was returned to merchant
   + `CANCELLED` - Order item was cancelled

## SettingsInstallment (object)
+ `preferredMonths`: 6 (number, optional) - Preferred number of installments (in months)
+ `preferredInstallment` (AmountOld, optional) - Preferred repayment amount
    + `amount`: 221900 (number, required) - Amount in minor units (221900 represents 2219) [ISO 4217](https://en.wikipedia.org/wiki/ISO_4217)
+ `preferredDownPayment` (AmountOld, optional) - Preferred down payment amount (amount should be rounded to hundreds CZK/ 5 EUR)
    + `amount`: 0 (number, required) - Amount in minor units (12590 represents 125,90) [ISO 4217](https://en.wikipedia.org/wiki/ISO_4217)
+ `productCode`: `COCONL06` (string, optional) - Product code, this indicates previous calculation result
+ `productSetCode`: `COCHCONL` (string, optional) - Product set code, this will limit further calculations


## Address (object)
Address

### Properties
+ `name`: `John Newborn` (string, optional) - Name on addres. Maximum 90 characters.
+ `city`: `Prague` (string, required) - City. String values longer than 100 characters will be shortened to 100 characters.
+ `streetAddress`: `Letenská` (string, required) - Street/city part. String values longer than 100 characters will be shortened to 100 characters.
+ `streetNumber`: `22` (string, required) - Street number. String values longer than 50 characters will be shortened to 50 characters.
+ `zip`: `140 00` (string, required) - Postal code. String values longer than 10 characters will be shortened to 10 characters.
+ `addressType` (enum, required) - Type of the address. Only some of the types are allowed in each context.
    + `PERMANENT` - Permanent residential address
    + `CONTACT` - Contact address
    + `DELIVERY` - Delivery address
    + `BILLING` - Billing address


## MerchantUrls (object)
Collection of URLs used for redirection of a customer back to a partner website or as a notification endpoint

### Properties
+ `approvedRedirect`: `https://www.youreshop.cz` (string, required) - URL of the partner used for redirection of the customer back to partner website (from HCO gateway) after application approval. Do not implement any business logic on accessing this URL by customer. Implement business logic to READY notification via `notificationEndpoint`. Must be valid URL according to [RFC 3986](https://tools.ietf.org/html/rfc3986). Maximum 1000 characters.
+ `rejectedRedirect`: `https://www.youreshop.cz/kosik` (string, required) - URL of the partner used for redirection of the customer back to partner website (from HCO gateway) after application rejection.  Do not implement any business logic on accessing this URL by customer. Implement business logic to REJECTED notification via `notificationEndpoint`. Must be valid URL according to [RFC 3986](https://tools.ietf.org/html/rfc3986). Maximum 1000 characters.
+ `notificationEndpoint`: `https://www.youreshop.cz/order/AA234` (string, required) - URL of the partner used as a notification endpoint for obtaining important updates about application (approval, rejection, storno, etc.). Must be valid URL according to [RFC 3986](https://tools.ietf.org/html/rfc3986). Maximum 1000 characters.


## PrecheckRequest (object)
Precheck data.

### Properties
+ `customer` (Customer, required) - Customer data


## PrecheckResult (object)
Precheck result.

### Properties
+ `id`: `1234` (string, required) - Unique identificator of Precheck. Send this identificator in ApplicationRequest for better approval rate.
+ `recommendation`:`false`  (boolean, required) - A recommendation of whether the order should be passed to the HCO.
    true = Application is likely going to be approved.
    false = Application is likely going to be rejected.
+ `message`:`V HCO peněžence nemáte dostatečný limit.` (string, optional) - Custom message for customer.


## InstallmentPrograms (object)
+ `installmentPrograms` (array[InstallmentProgram], fixed-type, required) - Array with installment programs offer


## InstallmentProgram (object)
Installment programs

### Properties
+ `productCode`: `COCONL06` (string, required) - Installment program product code
+ `type` (enum, optional) - DEPRECATED. Do not use this attribute, use attribute `flags` instead. Attribute `type` remains in API for backward compatibility
    + `MINIMAL` - Lowest installment
    + `FAVOURITE` - Recommended (favourite) installment program
    + `OTHER` - Other
+ `flags` (array[InstallmentProgramFlag], optional) - Installment program flag. Multiple flags for one program are allowed.
+ `installment` (AmountOld, optional) - monthly installment amount
    + `amount`: 221900 (number, required) - Amount in minor units (250000 represents 2500 CZK/EUR) [ISO 4217](https://en.wikipedia.org/wiki/ISO_4217)
+ `numberOfInstallments`: 6 (number, optional) - installment count


## InstallmentProgramDetail (InstallmentProgram)
+ `detail` (CalculationDetail, optional) - Calculation detailed information.

## InstallmentProgramFlag (object)
+ `type` (enum, required) - Flag type
    + `MINIMAL` - Lowest installment
    + `FAVOURITE` - Recommended (favourite) installment program
    + `DELAY_FIRST_INSTALLMENT` - First installment of this installment program is due in several months (it is postponed)
    + `BENEFIT` - Installment program offers some form of benefit for customer
    + `OTHER` - Other
+ `delayFirstInstallment`: 2 (number, optional) - The number of months for which the installment will be postponed. Required for `DELAY_FIRST_INSTALLMENT` flag.
+ `benefit`: `TURBO` (string, optional) - Type of benefit. Required for `BENEFIT` flag.

## CalculationDetail (object)
+ `installmentDay`: 20 (number, optional) - Installment date (day in month)
+ `installmentFirstDate`: `2018-09-20` (string, optional) - Date of the first installment
+ `installmentLastDate`: `2019-02-20` (string, optional) - Date of the last installment
+ `annualInterestRate`: 0.1743 (number, optional) - Annual interest rate
+ `predictedProvisionDate`: `2018-08-10` (string, optional) - Predicted provision date
+ `paidBack` (AmountOld, optional) - Total amount paid by customer
    + `amount`: 1331400 (number, required) - Amount in minor units (250000 represents 2500 CZK/EUR) [ISO 4217](https://en.wikipedia.org/wiki/ISO_4217)
+ `rpsn`: 0.19 (number, optional) - RPSN
+ `legalline`: "Každou žádost posuzujeme individuálně a uvedené hodnoty jsme vám spočítali na míru.\nPlatí pro čerpání k 10.08.2018, datum první splátky je k 20.09.2018 a datum dalších splátek vždy k 20. dni v měsíci, počínaje 20.10.2018 a při lhůtě splatnosti 20.02.2019." (string, optional) - Text interpretation of the offer


## InstallmentProgramsDownPayments (object)
Down payments information - the lowest down payment possible, the maximum down payment possible and a size of one step between them.

### Properties
+ `minimum` (AmountOld, optional) - The lowest down payment amount, e.g. 0 (0 CZK/EUR)
    + `amount`: 0 (number, required) - Amount in minor units [ISO 4217](https://en.wikipedia.org/wiki/ISO_4217)
+ `maximum` (AmountOld, optional) - Maximum down payment amount, e.g. 2500 (2 500 CZK/EUR)
    + `amount`: 250000 (number, required) - Amount in minor units (250000 represents 2500 CZK/EUR) [ISO 4217](https://en.wikipedia.org/wiki/ISO_4217)
+ `step` (AmountOld, optional) - Size of one step between the lowest and maximum down payment amounts, e.g. 500 (500 CZK/EUR). Available down payments could be (min 0, max 2500): 0, 500, 1000, 1500, 2000, 2500
    + `amount`: 50000 (number, required) - Amount in minor units (50000 represents 500 CZK/EUR) [ISO 4217](https://en.wikipedia.org/wiki/ISO_4217)


## InstallmentProgramsRequest (object)
+ `productCode`: `COCONL06` (string, required) - Product code, this indicates previous calculation result
+ `price` (AmountOld, required) - Goods price
+ `downPayment` (AmountOld, optional) - Down payment amount (default is 0, amount should be rounded to hundreds)
    + `amount`: 0 (number, required) - Amount in minor units [ISO 4217](https://en.wikipedia.org/wiki/ISO_4217)


## InstallmentProgramsOffersRequest (object)
+ `productSetCode`: `COCHCONL` (string, optional) - Product set code, this will limit further calculations. If not provided, default productSet will be used.
+ `price` (AmountOld, required) - Order price
+ `downPayment` (AmountOld, optional) - Down payment amount (default is 0, amount should be rounded to hundreds)
    + `amount`: 0 (number, required) - Amount in minor units [ISO 4217](https://en.wikipedia.org/wiki/ISO_4217)


## InstallmentProgramsDownPaymentsRequest (object)
+ `productSetCode`: `COCHCONL` (string, required) - Product set code, this will limit further calculations
+ `price` (AmountOld, required) - Goods price


## ApiInfo (object)
API information

### Properties
+ `build` (object, required)
    + `version`: `38.3.0-0-SNAPSHOT` (string, required) - ATL version
    + `artifact`: `atl-cs-app` (string, required) - Maven artifact name
    + `name`: `ATL CS - App` (string, required) - Official artifact name (human readable)
    + `group`: `eu.homecredit.openapi-cs` (string, required) - Artifact group name
    + `time`: 1510739838000 (number, required) - Artifact (build) creation time (timestamp)

## NotificationRequest (ApplicationBase)
+ `orderNumber`: `AA234` (string, required) - Order number (internal for e-shop)
+ `notificationDate`: `2017-07-15T00:00:00+02:00` (string, required) – Date of change of application status.
+ `orderState` (enum, required) - Order state.
    + `PROCESSING` - Order is being processed by merchant
    + `SENT` - All order items was sent to customer
    + `DELIVERED` - All order items was delivered to customer
    + `RETURNED` - All order items was returned to merchant
    + `CANCELLED` - Order was fully cancelled
+ `downPayment` (AmountOld, required) - Current down payment set by a customer
  + `amount`: 300000 (number, required) - Amount in minor units (300000 represents 3 000) [ISO 4217](https://en.wikipedia.org/wiki/ISO_4217)
+ `sentDate`: `2017-07-16T00:00:00+02:00` (string, required) – Date of sending notification (=actual date).
+ `checkSum`: `443E150D3406F6A8DC62C1DB224AFDD84FA9907071BB1AD9B2C7701031793662191501B26AADF3A31361341EA176C80B23D8A9A5E5B5219538289945FE0C20A7` (string, required) – Hashed message
+ `sequenceNumber`: 1 (number, required) - Sequence number of notification for corresponding application. Starts at value of 1.

## IntegrationChangeStateRequest (object)
+ `stateReason` (enum, required) - Describes internal state of application, e.g. when state is PROCESSING - reason why application remains in processing state
   + `REJECTED` - Rejected by HC
   + `PROCESSING_APPROVED` - Approved by HC, to be signed by client
   + `PROCESSING_SIGNED` - Signed by client, to verification by HC
   + `READY_TO_SHIP` - Financing approved, goods ready to be shipped to client
   + `READY_DELIVERED` - Goods delivered to client
   + `READY_PAID` - Paid to merchant
   + `CANCELLED_NOT_PAID` - Cancelled before delivery
   + `CANCELLED_RETURNED` - Cancelled after delivery, goods returned to merchant.


<!-- OBSOLETE PRECHECK DATA STRUCTURES -->
## ObsoletePrecheckRequest (object)
Precheck data (has similar structure as `Application`).

### Properties
+ `customer` (ObsoletePrecheckRequestCustomer, optional) - Customer data
+ `order` (ObsoletePrecheckRequestOrder, optional) - Order data
+ `agreementPersonalDataProcessing`: `true` (boolean, optional) - Flag indicating already approved personal data processing
+ `type` (enum, optional) - Financing type
    + `INSTALLMENT` - Pay in monthly installments
+ `settingsInstallment` - Settings for INSTALLMENT Application type.
    + `preferredMonths`: 10 (number, optional) - Preferred number of installments (in months)
    + `preferredInstallment` (AmountOld, optional) - Preferred repayment amount
    + `preferredDownPayment` (AmountOld, optional) - Preferred downpayment amount (amount should be rounded to hundreds)
    + `productCode`: `a122ax` (string, optional) - Product code, this indicates previous calculation result
    + `productSetCode`: `bc11523` (string, optional) - Product set code, this will limit further calculations

## ObsoletePrecheckRequestCustomer (Customer)
+ `additionalData` (ObsoleteAdditionalDataRequest, optional) - Additional data about the customer

## ObsoletePrecheckRequestOrder (object)
Order information, needed to create an application.

### Properties
+ `number`: `AA234` (string, optional) - Order number (internal for e-shop)
+ `variableSymbols`: `123456`, `1234567` (array[string], fixed-type, optional) - Variable symbols (internal for e-shop)
+ `totalPrice` (AmountOld, optional) - Total order amount, including VAT
+ `totalVat` (array[VatAmountOld], fixed-type, optional) - Total VAT amounts split by their VAT rates
+ `addresses` (array[Address], fixed-type, optional) - Addresses. Only `BILLING` and `DELIVERY` types are allowed.
+ `deliveryType` (enum, optional) - Delivery type, for `DELIVERY_CARRIER` type can be further specified by `deliveryCarrier` attribute.
    + `DELIVERY_CARRIER` - If delivered by carrier - use `deliveryCarrier` for further specification.
    + `PERSONAL_BRANCH` - Personal collection at branch
    + `PERSONAL_PARTNER` - Personal collection at partner network
    + `ONLINE` - Online delivery (e.g. for intangible assets)
+ `deliveryCarrier` (ObsoleteDeliveryCarrier, optional) - Delivery carrier, when applicable.
+ `reservationDate`: `2017-07-15T00:00:00+02:00` (string, optional)

   Date and time until order is reserved.

   Until 'reservationDate' HCO will try to notify partner with Application notification about approval or rejection.

   After this date and time, e-shop does not guarantee items availability (if application processing is longer, it may endanger order fullfillment).
+ `items` (array[ApplicationRequestOrderItem], fixed-type, optional) - Order items
+ `documents` (array[ObsoleteDocument], fixed-type, optional) - Attached documents (invoices etc.)


## ObsoleteDeliveryCarrier (object)
Delivery carrier

### Properties
+ One Of
    + carrierId (enum, required)
        + CZ_POST_HAND - Czech Post, Parcel Delivery to Hand
        + CZ_POST_OFFICE - Czech Post, Parcel Delivery to Post Office
        + CZ_POST_OTHER - Czech Post, other service
        + PPL
        + DPD
        + GEIS
        + IN_TIME
        + TOP_TRANS
        + GEBRUDER_WEISS
        + LOCAL_COURIER
        + TNT
        + GLS
        + HDS_COMFORT
        + HDS_STANDARD

    + carrierCustom: `my custom carrier` (string, required) - For carriers not found in enumeration of customer ID, specify value as text

## ObsoleteAdditionalDataRequest (object)
Additional data about the customer.

### Properties
+ `personalId`: 7203201234 (string, optional) - Personal identification number (format XXXXXXYYYY or XXXXXX/YYYY)
+ `idCard`: 123456789 (string, optional) - ID card number
+ `idCardExpiryDate`: `2020-05-19` (string, optional) - ID card expiration date
+ `idCardScan` (ObsoleteIdCardScan, optional) - ID card scan

## ObsoleteIdCardScan (object)

### Properties
+ `front` (File, optional) - Front side
+ `back` (File, optional) - Back side


## ObsoleteDocument (object)
Attached document (e.g. invoice, credit note etc.)

### Properties
+ `type` (enum, required) - Type of the document
    + `INVOICE` - Invoice
    + `PROFORMA_INVOICE` - Proforma invoice
    + `CREDIT_NOTE` - Credit note
    + `OTHER` - Other document type
+ `file` (File, required) - Attached file
+ `description`: `This is an invoice` (string, optional) - File description
+ `extraData` (ObsoleteDocumentExtraData, optional) - Additional data, if applicable


## ObsoleteDocumentExtraData (object)
+ `variableSymbol`: `1234567890` (string, optional) - variable symbol (internal for e-shop)

## ObsoletePrecheckResult (object)
Precheck result.

### Properties
+ `type` (enum, required) - Precheck result type for Funding type.
    + `INSTALLMENT` - Pay in monthly installments ("nákup na splátky")
+ `recommendation`: `false` (boolean, required) - A recommendation of whether the order should be passed to the HCO.
    true = Application is going to be likely approved.
    false = Application is going to be likely rejected.
+ `probabilityOfApproval`: 0 (number, required) - Probability of approval.
    0 = 0% to be approved
    1 = 100% to be approved
    Partner can create custom logic not to follow the recommendation (be more strict or benevolent).
+ `completeness`: 1 (number, optional) - Completness of the result. <0, 1> The lower is the value, the lower accuracy of the result.
+ `code` (enum, required) - Result code.
    + `OK`
    + `UNKNOWN`
    + `ADDITIONAL_DATA_SECURITY` - The customer will be asked to send additional data for security reasons.
    + `ADDITIONAL_DATA_LIMIT` - The customer has insufficient limit and will be asked to send additional data to increase limit.
    + `INSUFFICIENT_LIMIT` - The customer has insufficient limit and there is no way to increase it.
    + `INSUFFICIENT_LIMIT_OPPORTUNITY` - The customer has insufficient limit and can increase it by paying previous not paid orders.
    + `DETAILS_NOT_MATCHING` - We know the customer, but his personal details does not match with details in his HCO account. Customer will be asked for correcting not matching details.
    + `REVOLVING_REQUIRED` - The customer cannot continue without revolving contract. See `revolvingCode` and `revolvingUsability` for additional information.
    + `NOT_AVAILABLE` - Funding type is not available.
+ `customerType` (enum, required) - Customer type.
    + `UNKNOWN` - Customer is uknown for HCO.
    + `FIRST_ORDER` - HCO knows the customer. Customer has no paid orders.
    + `FULL` -  HCO knows the customer. Customer has at least one paid order.
    + `BLOCKED` - HCO knows the customer. Customer is blocked.
+ `customerDueDateCategory` (enum, required)
    + `CATEGORY_CLASSIC` - customer with classic due date (14 days, with the exception of events (Christmas, etc.))
    + `CATEGORY_EXTENDED` - customer with extended due date (20th day of next month, with the exception of events (Christmas, etc.))
+ `customerOrdersCountLimit`: 0 (number, optional) - The maximum orders count that the customer can make. Not set if there is no limit.
+ `customerOrdersCountRemaining`: 0 (number, optional) - The remaining orders count that the customer can make. Not set if there is no limit.
+ `revolvingUsability`: false (boolean, optional) - Existing revolving account is usable for financing. For more detailed information see `revolvingCode`.
+ `revolvingCode` (enum, optional)
    + `OK`
    + `ADDITIONAL_DATA_SECURITY` - The customer will be asked to send additional data for security reasons (see additionalData).
    + `ADDITIONAL_ACTION` - The customer will be asked for further actions (increase of the global limit, to sign credit terms... )
    + `NEW_REVOLVING` - New revolving loan is available for customer.
    + `NOT_AVAILABLE` - Revolving loan is not available for customer.
+ `message`: `V HCO peněžence nemáte dostatečný limit.` (string, optional) - Custom message for customer.
    Examples:
    “V HCO peněžence nemáte dostatečný limit.”
    “Uveďte do objednávky jméno a příjmení, které používáte ve službě HCO.”
    etc.
+ `additionalData` (array[string], fixed-type, optional) - List of additional data that customer has to send.
    Possible values in array: `PERSONAL_ID`, `ID_CARD_NO`, `ID_CARD_EXPIRY_DATE`, `ID_CARD_SCAN`.
+ `additionalActions` (array[string], fixed-type, optional) - List of additional actions which will be required to finish application.
    Possible values in array: `MOBILE_VERIFICATION`, `ACCOUNT_REGISTRATION`, `LIMIT_INCREASE`, `CREDIT_TERM_SUPPLEMENT`, `PAPERFORM_SUPPLEMENT`.

## ObsoletePrecheckResults (object)
Precheck results.

### Properties
+ `id` (string, required) - Unique identificator of precheck. Send this identificator in ApplicationRequest for better approval rate.
+ `results` (array[ObsoletePrecheckResult], fixed-type, required) - Precheck results for each type of product.
+ `limits` (ObsoleteLimits, optional)
    Estimated in case we don!t know the customer.
    Current customer's limits in case we know him and customer give us an approval for their usage.

## ObsoleteLimits (object)
Customer's limits

### Properties

+ `availableLimit` (AmountOld, required) - Customer's available limit
+ `totalLimit` (AmountOld, required) - Customer's global limit
## ErrorNotFound (Error)
+ code: `APPLICATION_NOT_FOUND` (string, required) - Unique internal error code
+ message: `Application 'NONEXISTING_APPLICATION' not found` (string, required) - Human readable error description (non-localized)

## ErrorsNotFound (object)
+ errors (array[ErrorNotFound], fixed-type, required) - Array with errors


## ErrorNotSupported (Error)
+ code: `NOT_SUPPORTED` (string, required) - Unique internal error code
+ message: `Current application status not allows requested operation` (string, required) - Human readable error description (non-localized)


## ErrorsNotSupported (object)
+ errors (array[ErrorNotSupported], fixed-type, required) - Array with errors


## AmountOld (object)
+ `amount`: 133000 (number, required) - Amount in minor units (133000 represents 1330) [ISO 4217](https://en.wikipedia.org/wiki/ISO_4217)
+ `currency`: `CZK` (string, required) - Amount currency [ISO 4217](https://en.wikipedia.org/wiki/ISO_4217). Only local currency is allowed (CZK in Czech Republic and EUR in Slovakia).

## VatAmountOld (object)
Financial amount with VAT rate.

### Properties
+ `amount`: 14950 (number, required) - Amount in minor units (14950 represents 149,50) [ISO 4217](https://en.wikipedia.org/wiki/ISO_4217). MUST be 0 or greater.
+ `currency`: `CZK` (string, required) - Amount currency [ISO 4217](https://en.wikipedia.org/wiki/ISO_4217). Only local currency is allowed (CZK in Czech Republic and EUR in Slovakia).
+ `vatRate`: 15 (number, required) - VAT rate as natural number (15 represents 15% rate)

## Error (object)
+ code: `BAD_REQUEST` (string, required) - Unique internal error code
+ message: `Bad request` (string, required) - Human readable error description (non-localized)
+ severity (enum, required)
    + `ERROR` - Critical error, execution cannot continue. This MUST be indicated also by appropriate HTTP status code
    + `WARN` - Non-critical error, execution can continue but further user interaction is advisable. This MIGHT be indicated also by appropriate HTTP status code
    + `INFO` - Information only, execution can continue without user interaction
+ attribute: `Client.addresses[1].streetNumber` (string, optional) - JSON path of request attribute that caused the error (if applicable)
+ ticketId: `UAT1:AMS:20160516-091658.450:45e4` (string, optional) - Internal ticket ID, used for error backtracking

## Errors (object)
+ errors (array[Error], fixed-type, required) - Array with errors

## OTPErrors (Errors)
+ blockedUntil: `2017-01-18T10:34:44+01:00` (string, optional) - requested operation is blocked until specified time

## PagingInfo (object)
+ itemsPerPage: 10 (number, required) - number of items per page
+ nextPage: `transactions?sort=category&limit=10&after=30` (string, optional) - request to retrieve next page, if it exists and can be unambiguously specified
+ prevPage: `transactions?sort=category&limit=10&before=21` (string, optional) - request to retrieve previous page, if it exists and can be unambiguously specified


## Amount (object)
+ `value`: 13300 (number, required) - Amount in minor units (13300 represents 133) [ISO 4217](https://en.wikipedia.org/wiki/ISO_4217)
+ `currency`: `CZK` (string, required) - Amount currency [ISO 4217](https://en.wikipedia.org/wiki/ISO_4217). Only local currency is allowed (CZK in Czech Republic and EUR in Slovakia).

## VatAmount (object)
Financial amount with VAT rate.

### Properties
+ `value`: 14950 (number, required) - Amount in minor units (14950 represents 149,50) [ISO 4217](https://en.wikipedia.org/wiki/ISO_4217). MUST be 0 or greater.
+ `currency`: `CZK` (string, required) - Amount currency [ISO 4217](https://en.wikipedia.org/wiki/ISO_4217). Only local currency is allowed (CZK in Czech Republic and EUR in Slovakia).
+ `vatRate`: 15 (number, required) - VAT rate as natural number (15 represents 15% rate)

## File (object)
+ `filename`: `iphone6s.jpg` (string, required) - File name.
+ One Of
    + `url`: `https://i.cdn.nrholding.net/32523771/2000/2000/iphone6s.jpg` (string, required) - File URL (full).
    + `content`: `RmlsZSBjb250ZW50cy4gwq9cXyjjg4QpXy/Crw==` (string, required) - File content (Base64 encoded, maximum size of encoded string is 500kB)


## EmptyRE (object)

## KeyValue (object)
+ `key`: `property` (string, required) - Key
+ `value`: `value` (string, required) - Value

## BankAccount (object)
+ type (enum, required) - Account type
    + `IBAN`
    + `NATIONAL`
+ One Of
    + iban (AccountIBAN, required) - Bank account number in IBAN format
    + national (AccountNational, required) - Bank account number in national format.

## AccountIBAN (object)
+ iban: `CZ6508000000192000145399` (string, required) - Account number in IBAN format

## AccountNational (object)
+ prefix: `000000` (string, optional) - Account number prefix. For domestic accounts, this will be specified in national format.
[...]
